<section id="affirmit" class="card affirmit-card">
  <div class="card-main">
    <div class ="container">    
      <div class="statistics">
        <div class="header">total</div>
        <div class="number" id="totalNumber">1312</div>
        <div class="header">years 108x a day</div>
        <div class="number" id="yearsPerDay">0.03</div>
        <div class="header">years daily</div>
        <div class="number" id="yearsDaily">3.59</div>
        <div class="header">today</div>
        <div class="number" id="todayCount">4</div></div>
      </div>
      <div class ="chants"></div>
    </div>  
  </div>
  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
  
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
