<section id="eventit" class="card eventit-card">  
  <div class="card-main">
    <!-- social events, appointments, scheduled task, meeting, routine, meditation, rest -->
    <div>
      <input id="titleInput" type="text" placeholder="New event...">   
      <button id="addNewButton">+ Add New</button>  
    </div>  
    <div id="eventView" class="event-view"></div>
  </div>

  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
