<section id="growit" class="card growit-card">
  <div class="card-main">
    
    
    
    
 <!--  <div id="gantt" class="gantt-container" ></div> -->
  
  
  <div id="selectedPlantsContainer" class="selected-plants"></div>
  
  <div id="filterBar" class="selected-plants filter-bar"></div>
  
  <div id="currentMonth" class="current-month"></div>

  <div id="deleteTarget"><svg class="nav-icon"><use href="#delete"></use></svg><div class="planit-inline">Drag here to remove from list</div></div>
 
  <div id="plantListContainer"></div>
  
  
   <div id="gridContainer" class="grid-container"></div>
  
  
  
  
  
  
  
  
  </div>

  <div id="sidePanel" class="card-side-panel">
    side panel
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>


