<section id="labelit" class="card labelit-card">
<div class="card-main">  
  <div class="card-nav">
    <label for="rowNumber">Label Rows:</label>
    <select id="rowNumber">
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option selected="selected">10</option>
      <option>11</option>
      <option>12</option>
    </select>
    <label for="colNumber">Label Columns:</label>
    <select id="colNumber">
      <option>1</option>
      <option selected="selected">2</option>
      <option>3</option>
      <option>4</option>
    </select>
    
    <label for="fontSelect">Font:</label>
    <select id="fontSelect"></select>
    <label for="fontSizeSelect">Size:</label>
    <select id="fontSizeSelect">
      <option>24</option>
      <option>26</option>
      <option>28</option>
      <option>30</option>
      <option>32</option>
      <option>34</option>
      <option>36</option>
      <option>38</option>
      <option>40</option>
      <option>42</option>
      <option>44</option>
      <option>46</option>
    </select>
    <select id="pageSizeSelect">
      <option>A4</option>
      <option>Letter</option>
    </select>    
    <select id="pageSelect"></select>
    <button id="printButton">Print</button>
  </div>
  <div class="print-page container" id="printPage"></div>
</div>
  <!--start side panel-->
  <div id="sidePanel" class="card-side-panel">
    <div>
    <button id="exportDataButton" aria-label="Export Data">Export Data</button>     
    <button id="importDataButton" aria-label="Import Data">Import Data</button> 
    <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
    <div class="field">
      <label for="pageName">Page Name</label>
      <input type="text" id="pageName" placeholder="Page Name...">
    </div>
    <div class="field">    
      <button id="addPageButton">+ Add New Page</button>
    </div>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
  <!--end side panel-->  

</section>
