<section id="noteit" class="card noteit-card">
  <div class="card-main">
   
    <div class="note-card">
    <div id="noteMessage"></div>  
    <div id="noteTitle" class="note-title" contenteditable="true" spellcheck="false">Note Title</div>
    <div id="noteCanvas" class="note-box" contenteditable="true" spellcheck="false">
    <div>Type your note here...</div> 
    </div>
    <div class="note-buttons">
      
    </div>
  </div>
   
  </div>
  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
    <div>
      <select id="noteSelect"></select>
      <button id="addNoteButton">+ Add Note</button>
    </div>
    <div>
      <button id="deleteNoteButton">Delete Note</button>
      <button id="emoji-btn">Insert Emoji</button>
    </div>
  
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
