<section id="readit" class="card readit-card">
  <!-- Main Panel -->
  <div class="card-main">
    <div>
      <input id="titleInput" type="text" placeholder="New read...">   
      <button id="addNewButton">+ Add New</button> 
    </div>   
    <div id="readView" class="watch-view"></div>
  </div>
  
  <!-- Side Panel -->
  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>

    <div class="field">
      <label for="title">Title</label>
      <input type="text" id="title">
    </div>
    <div class="field">
      <label for="service">Author</label>
      <input type="text" id="author" placeholder="authors name...">
    </div>
    <div class="field">
      <label for="type">Genre</label>
      <select id="genre">
        <option>Biography</option>
        <option>Fantasy</option>
        <option>Fiction</option>
        <option>Historical Fiction</option>
        <option>Mystery</option>
        <option>Nonfiction</option>
        <option>Romance</option>
        <option>Self-Help</option>
        <option>Science Fiction</option>        
        <option>Thriller</option>
      </select>
    </div>
    <div class="field">
      <label>Reading</label>
      <input type="checkbox" id="reading">
    </div>
    <div class="field">
      <label>Tags (comma separated)</label>
      <input type="text" id="tags">
    </div>
    <button id="saveButton">Save</button>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
