<section id="recipeit" class="card recipeit-card">	
  <div class="card-main">    
    <div>
      <input id="titleInput" type="text" placeholder="New recipe...">   
      <button id="addNewButton">+ add new recipe</button>  
    </div>      
    <div class='grid-wrapper'>
      <div id="recipeContainer" class="grid-container"></div> 
    </div>    
    <div id="recipePicker" class="recipe-picker"></div>
    
    <div>
      <h3>Recipe Parser</h3>
      <input class="recipe-title" id="recipeTitle" type="text" placeholder="Recipe Title...">
      <textarea id="inputText" placeholder="Paste recipe text e.g. 1 tsp ground coriander...">
      </textarea>
      <button id="parseRecipeButton">Parse & Save</button>      
      <pre id="parseOutput" class="parse-output"></pre>      
    </div>          
  </div>

  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
