<section id="shopit" class="card shopit-card">    
  <div class="card-main">
  <div>
    <input id="itemInput" type="text" placeholder="Add item..." />
    <select id="catInput">
      <option value="frequent">Frequent</option>
      <option value="occasional">Occasional</option>
      <option value="non-supermarket">Non-supermarket</option>
    </select>
    <select id="subcatInput">
      <option value="fruit-vegetables">Fruit and Vegetables</option>
      <option value="pantry">Pantry</option>
      <option value="dairy">Dairy</option>
      <option value="freezer">Freezer</option>
      <option value="meat-fish-poultry">Meat/Fish/Poultry</option>
      <option value="items">Items</option>
    </select>
    <button id="addItemButton">+ Add Item</button>
  </div>
  <div id="matchDisplay"></div>
  <div id="itemList" class="multi-column-container"></div>
  <div>
    <button id="highlightButton">Highlight Matching</button>
    <button id="orderButton">Order Matching</button>
  </div>  
  <div id="orderList" class="order-list"></div>
  <div id="menuList" class="order-list"></div>
  <div id="noMatchList" class="order-list"></div>
  
  </div>
  
 <!-- Side Panel -->
  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
        
    <div class="field">
      <label for="title">Title</label>
      <input type="text" id="title">
    </div>
    <div class="field">
      <label for="type">Category</label>
      <select id="cat">
      <option value="frequent">Frequent</option>
      <option value="occasional">Occasional</option>
      <option value="non-supermarket">Non-supermarket</option>
      </select>
    </div>
    <div class="field">
      <label for="type">Sub Category</label>
      <select id="subCat">
      <option value="fruit-vegetables">Fruit and Vegetables</option>
      <option value="pantry">Pantry</option>
      <option value="dairy">Dairy</option>
      <option value="freezer">Freezer</option>
      <option value="meat-fish-poultry">Meat/Fish/Poultry</option>
      <option value="items">Items</option>
      </select>
    </div>
    <div class="field">
      <label>Order</label>
      <input type="checkbox" id="order">
    </div>
    <div class="field">
      <label>Tags (comma separated)</label>
      <input type="text" id="tags">
    </div>
    <button id="saveButton">Save</button>
    <button id="deleteButton">Delete</button>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>

  
</section>
