<section id="socialit" class="card socialit-card">  
  <div class="card-main">
    socialit
  </div>

  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>
