<section id="viewit" class="card viewit-card">
  <div class="card-main">
    <div id="viewSection" class="multi-column-container"></div>
 </div>

  <div id="sidePanel" class="card-side-panel">
    <div>
      <button id="exportDataButton" aria-label="Export Data">
        Export Planit Data
      </button>     
      <button id="importDataButton" aria-label="Import Data">
        Import Planit Data
      </button> 
      <input type="file" id="hiddenFileInput" class="planit-hidden" />
    </div>
    <div>
      <button id="reloadButton" aria-label="Import Data">Reload</button>        
      <button id="openModalButton">Open Modal</button>       
    </div>  
    <div>     
     <button id="showTailwindButton">Tailwind Colors</button>
     <button id="toggleFullscreenButton">Full Screen</button>     
    </div>

  
    
    
  <div>Settings</div>
  <div>
    Dark Theme
    <label class="switch">
    <input type="checkbox" id="myToggle" checked="checked">
    <span class="slider"></span>
    </label>
  </div>


  <div class="field">
    <label for="themeSelector">Theme Selector</label>
    <select id="themeSelector">
      <option>dark</option> 
      <option>sand-dune</option>
      <option>glacier</option>
      <option>light</option>
      <option>custom</option>    
    </select>
  </div>
  
    
  <div id="customColourPickers">       
  </div>

  
  </div>
  <div id="toggleButton" class="side-panel-toggle-button"></div>
</section>

